<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
	<head>
		<title>Sample App Home Page</title>
		<!--link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"-->
	</head> 

	<body>

	<header>
    	<div class="container">
        <h1 class="logo">Pyhthon Sample </h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('horoscope')}}">Horoscope App</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="home">
		<h1 class="logo">Example 1: To post a form to the backend</h1>
		<p>Would you like to know your generation cohort?!</p>
		<div id="contact-form" >
			<form method="post" action="/gen">
				<label for="text">Please Enter Your DOB:</label>
				<input type="Date" id="dob" name="dob" required="required" data-date-format="DD MMMM YYYY">
				<input type="submit" value="Submit" id="submit"/>
			</form>
		</div>
	</div>



		<!--P> Example 2: To post a form with email & name to backend webserver/python code </p>
		 <div id="contact-form">
		 	<form method="post" action="/signup">
		 		<label for="text">Please Enter Your email:</label>
		 		<input type="text" id="name" name="name" required="required">
		 		<input type="text" id="email" name="email" required="required">
		 		<input type="submit" value="Submit" id="submit"/>
		 	</form>
		 </div-->


	</body> 
</html>
